In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Table of contents 

- Predictions of day-to-day values 
    - Module temperature from ambient temperature and irradiation
- Predictions of time series

## Predictions of day-to-day values

### Module temperature from ambient temperature and irradiation
- INPUT: Irradiation & Ambient temp
- OUTPUT: Module Temp
- GRANULARITY: 
    - Meaned time (grouped by)
    - Each day & time

In [2]:
p1_Sensor = pd.read_csv("dataset/Plant_1_Weather_Sensor_Data.csv")
p1_Sensor = p1_Sensor.drop(columns=['SOURCE_KEY', 'PLANT_ID'])
p1_Sensor['DATETIME'] = pd.to_datetime(p1_Sensor['DATE_TIME'], format='%Y-%m-%d %H:%M:%S')
p1_Sensor['TIME'] = p1_Sensor['DATETIME'].dt.time
p1_meanedTime = p1_Sensor.groupby('TIME')[['AMBIENT_TEMPERATURE','MODULE_TEMPERATURE','IRRADIATION']].mean().reset_index()


p2_Sensor = pd.read_csv("dataset/Plant_2_Weather_Sensor_Data.csv")
p2_Sensor = p2_Sensor.drop(columns=['SOURCE_KEY', 'PLANT_ID'])
p2_Sensor['DATETIME'] = pd.to_datetime(p2_Sensor['DATE_TIME'], format='%Y-%m-%d %H:%M:%S')
p2_Sensor['TIME'] = p2_Sensor['DATETIME'].dt.time
p1_meanedTime = p2_Sensor.groupby('TIME')[['AMBIENT_TEMPERATURE','MODULE_TEMPERATURE','IRRADIATION']].mean().reset_index()


p1_meanedTime

        TIME  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE   IRRADIATION
0   00:00:00            25.302547           24.029357  7.150890e-07
1   00:15:00            25.249645           23.909692  8.176470e-07
2   00:30:00            25.181654           23.836953  4.177787e-06
3   00:45:00            25.083862           23.759341  2.297092e-06
4   01:00:00            24.981855           23.677993  3.123797e-06
..       ...                  ...                 ...           ...
91  22:45:00            25.852635           24.658443  3.081715e-05
92  23:00:00            25.692392           24.509260  2.193831e-05
93  23:15:00            25.478443           24.233880  4.331667e-06
94  23:30:00            25.391263           24.131956  0.000000e+00
95  23:45:00            25.283250           24.040104  1.090151e-06

[96 rows x 4 columns]

In [3]:
p1_meanedTime['TIME_ID']= [x for x in range(96)]
p1_meanedTime

        TIME  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE   IRRADIATION  TIME_ID
0   00:00:00            25.302547           24.029357  7.150890e-07        0
1   00:15:00            25.249645           23.909692  8.176470e-07        1
2   00:30:00            25.181654           23.836953  4.177787e-06        2
3   00:45:00            25.083862           23.759341  2.297092e-06        3
4   01:00:00            24.981855           23.677993  3.123797e-06        4
..       ...                  ...                 ...           ...      ...
91  22:45:00            25.852635           24.658443  3.081715e-05       91
92  23:00:00            25.692392           24.509260  2.193831e-05       92
93  23:15:00            25.478443           24.233880  4.331667e-06       93
94  23:30:00            25.391263           24.131956  0.000000e+00       94
95  23:45:00            25.283250           24.040104  1.090151e-06       95

[96 rows x 5 columns]

In [4]:
X = np.array(p1_meanedTime[['TIME_ID', 'AMBIENT_TEMPERATURE','IRRADIATION']].values.tolist())
Y = np.array(p1_meanedTime[['MODULE_TEMPERATURE']].values.tolist())

In [5]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error
from sklearn.model_selection import train_test_split

train_x, eval_x, train_y, eval_y = train_test_split(X,Y,test_size=0.25, random_state=42)

regressor = RandomForestRegressor()
regressor.fit(train_x, train_y)

c:\Users\Shadow\anaconda3\envs\tgpu\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [6]:
predicted_values = regressor.predict(eval_x)

pred_mae = mean_absolute_error(predicted_values,eval_y)
pred_mse = mean_squared_error(predicted_values,eval_y)
pred_r2 = r2_score(predicted_values,eval_y)

print("MAE: {}\nMSE: {}\nR2: {}\n".format(pred_mae, pred_mse, pred_r2))

MAE: 0.47817578680275324
MSE: 0.7938737486233062
R2: 0.9880733255824468

In [7]:
# Load

        TIME  AMBIENT_TEMPERATURE  MODULE_TEMPERATURE   IRRADIATION  TIME_ID
0   00:00:00            25.302547           24.029357  7.150890e-07        0
1   00:15:00            25.249645           23.909692  8.176470e-07        1
2   00:30:00            25.181654           23.836953  4.177787e-06        2
3   00:45:00            25.083862           23.759341  2.297092e-06        3
4   01:00:00            24.981855           23.677993  3.123797e-06        4
..       ...                  ...                 ...           ...      ...
91  22:45:00            25.852635           24.658443  3.081715e-05       91
92  23:00:00            25.692392           24.509260  2.193831e-05       92
93  23:15:00            25.478443           24.233880  4.331667e-06       93
94  23:30:00            25.391263           24.131956  0.000000e+00       94
95  23:45:00            25.283250           24.040104  1.090151e-06       95

[96 rows x 5 columns]